<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1>
      <p class="lead">
        learn web development front to back
      </p>
    </div>
    <div class="col-md-6">
      <img src="/img/book-cover-design-basic.png" alt="" class="img-fluid mt-3 pt-5">
    </div>
  </div>
</section>